
name: CI Demo Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  ci-demo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4   

      - name: Print demo message
        run: echo "GitHub Actions working! Simple script"   

      - name: List files in repository
        run: ls -la   

